body {
  font-family: 'system-ui';
}

.Topbar {
  width: 100%;
  height: 150px;
  text-align: left;
  background-color: white;
  padding-top: 2px;
  padding-left: 150px;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px;
}

.firstul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin-right: 221px;
  margin-top: -60px;
  font-size: x-large;
}

.listitem {
  float: right;
}

.listitem a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listitem a:hover {
  background-color: royalblue;
  color: white;
}

.Topbar>img {
  width: 150px;
  padding-top: 51px;
}

pre {
  margin-top: 375px;
  margin-bottom: 1rem;
  margin-left: 100px;
  overflow: auto;
  font-size: xxx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:royalblue;
}

p {
  margin-top: 0;
  margin-bottom: 8rem;
  margin-top: 40px;
  margin-left: 100px;
  font-size: xxx-large;
  font-family: system-ui;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  font-size: xx-large;
  margin-left: 100px;
  margin-top: 45px;
}

.Footer {
  background-color: royalblue;
  opacity: 0.7;
}

h1 {
  font-size: 3.5rem;
  margin-top: 100px;
  color: royalblue;
  margin-left: 100px;

}

.first {

  margin-top: 60px;
  text-align: left;
  font-size: xx-large;
  margin-left: 100px;
  font-family: system-ui;
  color: royalblue;

}

.second {
  text-align: center;
  font-size: xx-large;
  margin-top: -41px;
  font-family: system-ui;
  color: royalblue;
}

.third {
  text-align: right;
  font-size: xx-large;
  margin-right: 100px;
  margin-top: -45px;
  font-family: system-ui;
  color: royalblue;


}

.fourth {
  text-align: left;
  font-size: xx-large;
  margin-left: 100px;
  margin-top: 62px;
  font-family: system-ui;
  color: royalblue;
}

.fifth {
  text-align: center;
  font-size: xx-large;
  margin-top: -46px;
  font-family: system-ui;
  color: royalblue;
}

.sixth {
  text-align: right;
  font-size: xx-large;
  margin-right: 100px;
  margin-top: -52px;
  font-family: system-ui;
  color: royalblue;
}
.seventh {

  margin-top: 60px;
  text-align: left;
  font-size: xx-large;
  margin-left: 100px;
  font-family: system-ui;
  color: royalblue;
}

.eighth {
  text-align: center;
  font-size: xx-large;
  margin-top: -41px;
  font-family: system-ui;
  color: royalblue;

}

.ninth {
  text-align: right;
  font-size: xx-large;
  margin-right: 100px;
  margin-top: -45px;
  font-family: system-ui;
  color: royalblue;
}

.services {
  margin-top: 15px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: system-ui;
    text-align: left;
    margin-left: 100px;
}

.Aboutus {
  margin-left: 100px;
}

.Quality {
  margin-right: 300px;
  padding-top: -37px;
  margin-top: -220px;
}


h3 {
  color: black;
}

.items {
  margin-left: 300px;
  margin-top: -120px;
  font-size: larger;
}

.Industries h2{
  margin-top: 15px;
    margin-left: 100px;
    color: black;
    font-size: 3rem;
    margin-bottom: 10px;
}

.Ourservices {

  background-image: url(https://media.istockphoto.com/id/954042862/vector/abstract-grey-and-white-tech-geometric-corporate-design-background-eps-10-vector-illustration.jpg?s=612x612&w=0&k=20&c=JN5JCgYVlmDN7NutbrhkG4tr87jnhAy9bRUyaebW4zo=); height: 600px; width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Home {
  background-image: url(https://media.istockphoto.com/id/924793826/photo/abstract-hexagon-background.jpg?s=612x612&w=0&k=20&c=aT9C4_eiLD9-IHxIh67MjRPbvQmzF81gxx4iJzF2T-I=); height: 800px; width: cover; width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -240px;
}

.Homecontent {
  padding-top: 200px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h2 {
  color: royalblue;
  font-size:-webkit-xxx-large;
  margin-top: 15px;
}
.Ip {
  font-size: large;
  color: black; 

}

.im {
  margin-top: -100px;
  margin-left: 100px;
}

.two {
  margin-left: 518px;
  margin-top: -458px;
    margin-right: 20px;
}

.three {
  margin-left: 952px;
      margin-top: -450px;
  height: 448px;
}

  .four {
    width: 413px;
    float: right;
    margin-top: -876;
    margin-top: -449px;
    margin-right: 50px;
}

.Testimonials {
    margin-left: 100px;
    margin-top: 20px;
    background-image: url(https://media.istockphoto.com/id/1170017676/vector/abstract-geometric-shape-technology-digital-hi-tech-concept-background-space-for-your-text.jpg?s=612x612&w=0&k=20&c=gRajL4nkzbgT08Bl-b0HbApKTmEL_rxp52V8vZIahOY=); height: 350px;
    background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 3rem;
  margin-top: -70px;
}

.Testimonials h2 {
  margin-top: 90px;
  margin-top: -20px;
}

.P1 {
  font-size: x-large;

}

.P2 {
  font-size: x-large;
  margin-top: -105px;
}
.P3 {
  font-size: x-large;
  margin-top: -105px;
  
}

.Logoimage {
  margin-top: 0;
}
.Industries{
  background-image: url(https://media.istockphoto.com/id/1037437274/vector/halftone-abstract-background-vector-dot-pattern-gradient.jpg?s=612x612&w=0&k=20&c=TwYad5sVzvnCZDVqKY22dJVG7h68jwM8hDykGIPqqzo=); height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Last {
  background-image: url(https://media.istockphoto.com/id/1414975236/vector/the-graphic-design-element-and-abstract-geometric-background-with-isometric-vector-blocks.jpg?s=612x612&w=0&k=20&c=80PEQK7EO53xU9T2BkvRa1341aPiBbMlbKGvjt7Cdpc=);width: 100%; height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}


.text-center {
    text-align: center!important;
    margin-bottom: -97px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
    background-color: black;
    margin-top: 428px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    font-size: larger;
}

.browser {
  margin-left: 100px;
}

article {
  margin-left: 100px;
  font-size: large;
  margin-top: 40px;
  font-family: system-ui; 
}

.Img1 {
  margin-top: -100px;
}

.Ourblogs {
  background-image: url(https://media.istockphoto.com/id/1402911656/photo/light-and-shadow-leaves-palm-leaf-overlay-on-grunge-white-wall-concrete-background-silhouette.jpg?s=612x612&w=0&k=20&c=pLsBHDpVGfdClKVX1qTpWQ71LEG-W4ZaL4macYbvR4A=); height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Img2 {
  background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: -100px;
    width: 574px;
}

h5 {
  font-size: x-large;
  color:white;
  margin-left: 445px;
  margin-top: 30px;
}

h4 {
  margin-left: 445px;
  margin-top: -350px;
  color: white;
  font-size: xx-large;

}

.Img3 {
  margin-left: 991px;
    margin-top: -313px;
    height: 400px;
    width: 866px;
}

.Img4 {
  opacity: 30%;
    margin-left: 1126px;
    margin-top: -513px;
    width: 590px;
    height: 200px;
}

.heading {
  margin-left: 1135px;
}


.Img5 {
  height: 400px;
    margin-top: 79px;
    float: right;
}

.Img6{
  height: 400px;
  width: 415px;
  margin-top: 79px;
}


.Img7 {
  margin-left: 990px;
  height: 400px;
  width: 450px;
  margin-top: -428px;
}

.Img8 {
  margin-left: 415px;
    margin-top: -476px;
    height: 400px;
    width: 575px;
}

.Img5content {
  margin-top: -400px;
  color: white;
  font-size: xx-large;
  margin-left: 20px;
}

.Image5content {
  color: white;
  margin-top: 20px;
  font-size: larger;
  margin-left: 20px;
}

.Img7content {
  color: white;
  margin-left: 1010px;
  margin-top: -250px;
  font-size: xx-large;
}

.Image7content {
  margin-left: 1010px;
  color: white;
  font-size: large;
}

.UNOLIST {
  text-align: center;
}

.ulist {
  display: flex;
}

.ulisttwo {
  display: flex;

}

.ulistthree {
  display: flex;

}

.FooterList {
  color: white;
  background-color: black;
  display: flex;
}

.ulistPhone {
  display: flex;
  font-size: large;
  
}

.ulistEmail {
  display: flex;
  font-size: large;
}

.ulistfour {
  display: flex;
  font-size: x-large;
}

.Footerimage {
  height:400px;
  width:400px;
}
 
.lastparagraph {
  height: 100px;
  width: 300px;
  display: flex;
  float: right;
}